receivers:
  prometheus:
     config:
       scrape_configs:
       - job_name: opentelemetry-collector
         scrape_interval: 60s
         static_configs:
         - targets:
            - ${env:DCGM_TARGET}

processors:
  cumulativetodelta:
    max_staleness: 25h

exporters:
  otlphttp:
    endpoint: "${env:DT_BASE_URL}/api/v2/otlp"
    headers:
      Authorization: "Api-Token ${env:DT_API_TOKEN}"

service:
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [cumulativetodelta]
      exporters: [otlphttp]